/* add border-box */
* {
    box-sizing: border-box;
}

/* add background color */
body {
    background-color: rgb(127, 90, 90);
}

.header {
    padding: 0px;
    font-family: calibri;
    background-color: rgb(22, 35, 36);
    color: black;
}

.header h1 {
    display: inline-block;
    font-size: 30px;
    background-color: aqua;
}

.header div {
    padding-top: 10px;
    margin-right: 30px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-right: 25px;
}

a {
    color: aqua;
    text-align: right;
}

p {
    text-align: left;
}

.container {
    background-color: bisque;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.section-title {
    width: 25%;
}

.content {
    display: flex;
    flex-direction: row;
    width: 75%;

}
.card-container{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 25%;
}
img {
    width: 100%;
    height: auto;
}

.content1 {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    width: 25%;
}

.content-title {
    display: flex;
    flex-direction: row;
    width: 75%;
}

.work {
    width: 50;
}

.duties p {
    width: 50;
}

.footer {
    width: 25;

}